<section class="proyecto" id="proyecto">
    <div class="contenedor4">
        <h3 class="titulito" style="margin-bottom: 50px;">Proyecto</h3>
      <div class="card text-center">
        <div class="card-header">
    
      </div>
    <div class="card-body" id="letras">
          <h5 class="card-title">Haush Guitars Co.</h5>
          <p class="card-text">Construyendo la Web de esta empresa dedicada a la construcción de guitarras con maderas exóticas.</p>
          <a href="C:/Users/PoL/Desktop/webhaush/index.html" class="btn btn-primary" target="_BLANK">Ir a</a>
      </div>
    <div class="card-footer text-muted">
      </div>
    </div>
    </div>
  </section>
