 <section class="experiencia" id="experiencia">
    <div class="contenedor2">
        <h3 class="titulito" style="margin-top: 50px; margin-bottom: 50px;">Experiencia</h3>
       
        <div class="cont-cards">
           <ul>
          <li *ngFor="let experiencia of experienceList" style="list-style: none; display: inline-block; margin: 5px;">
          <div class="card" style="width: 18rem;">
            <img [src]="experiencia.imgexp" class="card-img-top" alt="doble5inco">
            <div class="card-body" id="letras">
              <h5 class="card-title">{{experiencia.company}}<i class="fa-solid fa-pencil" style="margin: 10px;"></i><i class="fa-solid fa-trash-can" style="margin: 5px;"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{experiencia.position}}</h6>
              <p class="card-text">{{experiencia.tasks}}<br> {{experiencia.start}} - {{experiencia.end}}</p>
              <a href="" class="btn btn-primary" target="_BLANK">Ir a</a>
            </div>
          </div>
          </li>
         </ul>
         </div>
         
       </div>
  </section>
  <div class="line"></div>