 <section class="experiencia" id="experiencia">
    <div class="contenedor2">
        <h3 class="titulito" style="margin-top: 50px; margin-bottom: 50px;">Experiencia</h3>
        <div class="cont-cards">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/doble.png" class="card-img-top" alt="doble5inco">
            <div class="card-body" id="letras">
              <h5 class="card-title">Periodista</h5>
              <h6 class="card-subtitle mb-2 text-muted">Doble 5inco</h6>
              <p class="card-text">Locutor, coberturas de campo, redacción.<br> 2015 - 2017</p>
              <a href="https://www.facebook.com/doble5inco/" class="btn btn-primary" target="_BLANK">Ir a</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/nestle.png" class="card-img-top" alt="nestle">
            <div class="card-body" id="letras">
              <h5 class="card-title">Vendedor viajante</h5>
              <h6 class="card-subtitle mb-2 text-muted">Nestlé S.A</h6>
              <p class="card-text">Atención a clientes en zonas preasignadas. <br> 2017 - 2019</p>
              <a href="https://www.nestle.com.ar/" class="btn btn-primary" target="_BLANK">Ir a</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/mundo.png" class="card-img-top" alt="joyeria">
            <div class="card-body" id="letras">
              <h5 class="card-title">Vendedor de salón</h5>
              <h6 class="card-subtitle mb-2 text-muted">El Mundo de las Joyas</h6>
              <p class="card-text">Encargado de la atención al cliente y ventas.<br>2019 - 2021</p>
              <a href="https://www.facebook.com/El-Mundo-de-las-Joyas-150037751734761/" class="btn btn-primary" target="_BLANK">Ir a</a>
            </div>
          </div>
        </div>
    </div>
  </section>
  <div class="line"></div>