<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- HEADERRRRRRRRRRRRRRRRRRRRRR -->

 <app-header></app-header>

  <!-- CONTENEDOR 1 -->

  <app-contenedor1></app-contenedor1>
 

  <!-- CONTENEDOR 2 -->

 <app-contenedor2></app-contenedor2>

  <!-- CONTENEDOR 3 -->

<app-contenedor3></app-contenedor3>

  <!-- CONTENEDOR 5 -->
  
<app-contenedor5></app-contenedor5>

  <!-- CONTENEDOR 4 -->
  
  <app-contenedor4></app-contenedor4>

  <!-- FOOTER -->
  <app-footer></app-footer>