<section class="acercade" id="acercademi">
  <div class="container-sm">
    <div class="contenedor1">
      <h3 class="titulito">Acerca de mí</h3>
    </div>
    <div class="accordion" id="accordionExample">
  <div class="accordion-item" id="divexpandir">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="botonexpandir">
        Expandir
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body" id="strong">
        <strong >Estudiante de Desarrollo Web Full Stack en Argentina Programa y de manera autodidacta. Vivo en Posadas, Misiones. Comencé en el mundo de la programación en el año 2020.</strong> 
       
    </div>
  </div>
  </div> 
</div>
</div>
 <div class="lista">
        <ul>
          <li>Estudiante de Desarrollo Web Full Stack.</li>
          <li>Vivo en Posadas, Misiones.</li>
          <li>Comencé a programar en 2020.</li>
        </ul>
        </div>
  </section>
  <div class="line"></div>
