
<h3 class="titulito" style="margin:1em;">Habilidades</h3>
			<section class="skills" id="habilidades">
				<div class="cont-skills">
					<img src="assets/img/problema.svg" alt="resolución">
					<h3 class="n-skills">Resolución</h3>
					<div class="progress">
 					<div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="cont-skills">
					<img src="assets/img/investigar.svg" alt="investigación">
					<h3 class="n-skills">Investigación</h3>
					<div class="progress">
 					<div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="cont-skills">
					<img src="assets/img/developer.svg" alt="desarrollo">
					<h3 class="n-skills" style="margin-right: 5px;"> Codificación</h3>
					<div class="progress">
 					<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</section>
			<div class="line"></div>