
<h3 class="titulito" style="margin:1em;">Habilidades</h3>
			<section class="skills" id="habilidades">
				<div class="cont-skills">
					<a href="#"><img src="assets/img/problema.svg" alt=""></a>
					<h3 class="n-skills">Resolución</h3>
				</div>
				<div class="cont-skills">
					<a href="#"><img src="assets/img/investigar.svg" alt=""></a>
					<h3 class="n-skills">Investigar</h3>
				</div>
				<div class="cont-skills">
					<a href="#"><img src="assets/img/developer.svg" alt=""></a>
					<h3 class="n-skills" style="margin-right: 5px;"> Codificación</h3>
				</div>
			</section>
			<div class="line"></div>