 <!-- HEADERRRRRRRRRRRRRRRRRRRRRR -->
<header>
    <nav class="nav1" id="nav">
      <button class="boton-nav" onclick="accion()">Menú</button>
      <a href="#acercademi" class="nav-enlace desaparecer">Acerca de mí</a>
      <a href="#experiencia" class="nav-enlace desaparecer">Experiencia</a>
      <a href="#educacion" class="nav-enlace desaparecer">Educación</a>
      <a href="#habilidades" class="nav-enlace desaparecer">Habilidades</a>
      <a href="#proyecto" class="nav-enlace desaparecer">Proyecto</a>
    </nav>
    <div class="titulo1">
      <h1>Pablo Barrios</h1>
      <div class="parra">
      <p>Portfolio</p>
      <div id="login">
      <button type="button" class="btn-lg btn-primary bg-primary">Login</button>
      </div>
      </div>
    </div> 
</header>


  