 <!-- HEADERRRRRRRRRRRRRRRRRRRRRR -->
<header >
  <img src="../assets/img/argprograma.png" class="logo" alt="logoargprog">


 <div class="social">
    <button type="button" class="btn btn-success">Login</button>
   
    <a [href]="miPortfolio.stackoverflow" target="_BLANK"><i class='bx bxl-stack-overflow' style="color: white; font-size: 2.3em;"></i></a>
    <a [href]="miPortfolio.linkedin" target="_BLANK"><i class='bx bxl-linkedin' style="color: white; font-size: 2.3em;"></i></a>

 </div>
  
</header>


  